.next
node_modules
dist
build
prisma.config.ts
prisma/*
app/globals.css
.github/*
.gitignore
.prettierignore
.prettierrc
app/favicon.ico
package-lock.json
package.json
README.md
.eslintrc.json
tsconfig.json
components.json
*.png
*.jpg
*.jpeg
*.gif
*.ico
*.svg
*.webp
*.pdf
.env
.env.local
.env*.local
public/*
components/loading/loading.css