name: Code Quality Checks

on:
  pull_request:
    branches: [ main, development ]

jobs:
  checks:
    runs-on: ubuntu-latest

    env:
      DATABASE_URL: ${{ secrets.DATABASE_URL }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm ci

      - name: generate prisma client
        run: npm run generate

      - name: Prettier Check
        run: npm run check-format

      - name: ESLint Check
        run: npm run lint

      - name: TypeScript Type Check
        run: npm run type-check
